<div class="container">
    <div class="dashboard my-6 w-100">
      <h3 class="h4 mb-2">
        Bienvenido!
      </h3>
      <p>
        Completa tus datos y empieza a conectar tu negocio.
      </p>
      <form class="mb-3 w-100" [formGroup]="userForm">
        <div class="d-flex w-100 flex-stretch">
            <div class="auto-width">
                <div class="mb-2">
                  <mat-form-field appearance="legacy" class="mr-1">
                    <mat-label for="name">Nombre de usuario</mat-label>
                    <input matInput type="text" id="name" placeholder="name" formControlName="name">
                    <mat-hint>
                      Tu Nombre
                    </mat-hint>
                    <mat-error>
                      <span *ngIf="name.errors?.['required']">
                        No hay Nombre.
                      </span>
                      <span *ngIf="name.errors?.['minlength']">
                        Debe tener al menos 2 carácteres.
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="mb-2">
                  <mat-form-field appearance="legacy" class="mr-1">
                    <mat-label for="business">Nombre de negocio</mat-label>
                    <input matInput type="text" id="business" placeholder="business" formControlName="business">
                    <mat-hint>
                      Razón social
                    </mat-hint>
                    <mat-error>
                      <span *ngIf="business.errors?.['required']">
                        No hay Nombre.
                      </span>
                      <span *ngIf="business.errors?.['minlength']">
                        Debe tener al menos 4 carácteres.
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="mb-2">
                  <mat-form-field appearance="legacy" class="mr-1">
                    <mat-label for="ruc">Ruc de negocio</mat-label>
                    <input matInput type="text" id="ruc" placeholder="ruc" formControlName="ruc">
                    <mat-hint>
                        Ruc de negocio
                    </mat-hint>
                    <mat-error>
                      <span *ngIf="ruc.errors?.['required']">
                        No hay ruc.
                      </span>
                      <span *ngIf="ruc.errors?.['pattern']">
                        Debe tener solo números.
                      </span>
                      <span *ngIf="ruc.errors?.['minlength']">
                        Debe tener minimo 7 números.
                      </span>
                      <span *ngIf="ruc.errors?.['maxlength']">
                        Debe tener maximo 11 números.
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
            </div>
            <div class="fill-width">
                <div class="flex-aligner d-flex flex-column" *ngIf="business.value">
                    <p class="mb-0">
                        Tu tablero será: 
                    </p>
                    <h1 class="flex-rower">
                        {{business.value | slugify }}
                        <span class="grey">.anexalo.com</span> 
                    </h1>
                </div>
            </div>

        </div>

        <div class="d-block">
          <button [disabled]="userForm.invalid" mat-raised-button color="primary" class="btn sm" (click)="sendUserInfo()">
            <span>crear mi Dashboard</span> 
          </button>
        </div>
      </form>
    </div>
</div>