
.flex-stretch {
    align-items: stretch;
}
.fill-width {
    flex: 1;
}
.title-dashboard {
    text-align: center;
}
.flex-aligner {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grey {
    color: #999;
}
.dashboard-presentation {
    background-color: #ddd;
}
.subdomain {
    width: auto;
    text-align: right;
    margin-right: 0;
    border-bottom: 1px solid #666;
    margin-bottom: -1px;
    min-width: 60px;
}
.shadowWidth {
    opacity: 0;
    visibility: hidden;
}