.logo {
  height: 32px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 26px;
  line-height: 1.4em;
  vertical-align: middle;
}
.logo a {
  text-decoration: none;
  color: inherit;
}
.mat-card-header .mat-card-title.title-email {
  margin-bottom: 4px;
}