<header class="header">
  <div class="header-menu">
    <div class="px-0">
      <div class="container">
        <div class="d-flex py-1 w-100">
          
          <h1 class="logo">
            <a routerLink="/">
              <span class="">Anexalo</span>
              <small class="">.com</small>
            </a>
          </h1>
          
          <div *ngIf="!user" class="ml-auto nx-rounded-content nx-bordered-content p-1">
            <button mat-flat-button class="ml-auto btn sm" routerLink="/">
              Inicio
            </button>
            <button mat-flat-button class="ml-auto btn sm" routerLink="/acerca">
              Acerca
            </button>
            <button mat-raised-button color="primary" class="ml-1 btn sm" routerLink="/cuenta/ingresa">
              Ingresa
            </button>
          </div>

          <mat-card *ngIf="user" class="ml-auto mat-elevation-z0 nx-rounded-content nx-bordered-content">
            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon class="icon-avatar">account_circle</mat-icon>
              </div>
              <mat-card-title class="h6 title-email">{{ user.email }}</mat-card-title>
              <mat-card-subtitle class="my-0 d-flex">
                <button mat-button color="primary" *ngIf="!user.emailVerified" routerLink="/cuenta/verificame" class="btn link">
                  Verificar mi email
                </button>
                <button mat-button color="primary" *ngIf="user.emailVerified" routerLink="/cuenta/dashboard" class="btn link">
                  Dashboard
                </button>
                <button mat-button color="primary" (click)="signOut()" class="btn link ml-auto">
                  Salir
                </button>
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
          
        </div>
      </div>
    </div>
  </div>
</header>
