<div class="container">
    <div class="verification my-6">
        <div class="verification-info" *ngIf="user">
            <div *ngIf="!user.emailVerified">
                <h3 class="h3"> 
                    Confirma tu email
                </h3>
                <div class="text-group mb-2">
                    <p class="text-center">
                        Parece que tu email aún no esta verificado. 
                    </p>
                    <p class="text-center">
                        Revisa la bandeja de <b>{{user.email}}</b>, y dale click al link para verificarte.
                    </p>
                </div>
                
                <!-- Calling SendVerificationMail() method using authService Api -->
                <h4 class="h4">
                    ¿Ya diste click al email?
                </h4>
                <div class="formGroup ">
                    <button mat-raised-button type="button" color="primary" class="btn md" (click)="reloadUser()">
                        Verificar
                    </button>
                </div>
            </div>
            <div *ngIf="user.emailVerified">
                <h3 class="h3"> Tu email está confirmado </h3>
                <div class="text-group mb-2">
                    <p class="text-center">
                        El link al dashboard ya esta habilitado en tu perfíl.
                    </p>
                </div>
            </div>
        </div>
        <div *ngIf="!user">
            <p class="message">
                <button mat-stroked-button type="button" class="btn btnPrimary" (click)="sendVerificationEmail()">
                    Ingresa
                </button>
                o
                <button mat-stroked-button type="button" class="btn btnPrimary" (click)="sendVerificationEmail()">
                    Registrate
                </button>
            </p>
        </div>
    </div>
</div>
  