<div class="container">
  <div class="home-content mt-6 mb-4">
    <h1 class="h1 mb-3">
        <span>
            Conectado
            <br>
            <span>vendes </span>
            <mark class="highlight">mejor</mark>
        </span>
    </h1>

    <h3 class="h3 mb-3">
      Muestra tus productos por todo internet <br>
      en pocos minutos.
    </h3>

    <section class="cta">
      <div class="cta">
        <div class="cta-content row">
          <p class="my-auto mr-1 h5">
            ¿Listo para ganar tiempo?
          </p>
          <button mat-raised-button color="primary" class="btn md">Pruebalo</button>
        </div>
      </div>
    </section>
  </div>
</div>
